<div class="row">
    <div class="col-md-4">
        <div class="advertise">
            <div class="panel panel-danger">
                <div class="panel-heading">菜单一</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">菜单一</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>

    </div>
</div>