<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test_ajax</title>
    <script type="text/javascript"  src="/static/js/jquery-3.4.1.js"></script>
</head>
<body>
<button id="btn">click</button>
<p class="con"></p>
<script type="text/javascript">
    $('#btn').click(function(){
        //发送ajax请求且请求方式为get
        $.ajax({
            url:'/blog/get_date/',
            type:'get',
            success:function(date){
                console.log(date)
                $('.con').text(date)
            }
        })
    })
</script>
</body>
</html>